        <% include ../partials/nav-top-links.ejs %>

        <% include ../partials/menu-sidebar.ejs %>  
    
        <div id="page-wrapper">                
            <% include ../partials/wrapper-contents.ejs  %> 
        </div>