<head>
<title>DriveOn  | Portal</title>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!-- Bootstrap Core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- NProgress -->
<link href="/vendor/nprogress/nprogress.css" rel="stylesheet">
<!-- Animate.css -->
<link href="/vendor/animate.css/animate.min.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="/stylesheets/custom.min.css" rel="stylesheet">