
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Monitoramento
        </div>
        <div class="panel-body">
        <div id='myMap' style='width: 70vw; height: 70vh;'></div>
            <script type='text/javascript'>
                    var map;
                     function loadMapScenario() {
                    //     var navigationBarMode = Microsoft.Maps.NavigationBarMode;
                    //     map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                    //         credentials: 'Ao6vpD6q5I9xFZiLoO-2tZm5KNPZ2E80Y8pkPfzVeQpDmUqJ3FoYlkLN9nWC6HET',
                    //         navigationBarMode: navigationBarMode.compact
                    //     });
                    //     var encodedString = 'yq5-uo4koCAnfCwqCu6F';
                    //     //Decode the encoded string.
                    //     var locs = Microsoft.Maps.PointCompression.decode(encodedString);
                    //     //Display the locations as a polyline on the map so we can see what it looks like.
                    //     var p = new Microsoft.Maps.Polyline(locs, {
                    //         strokeColor: 'red',
                    //         strokeThickness: 5
                    //     });
                    //     map.entities.push(p);
                    //     //Set the view of the map over the polyline.
                    //     map.setView({ bounds: Microsoft.Maps.LocationRect.fromLocations(locs) });
                            watchPosition();
                     };
                    // var map = null;
                     var p = 0;
                     var pushpin;
                    // // var x = document.getElementById("notice");
                    // function loadMapScenario(){
                    //     getLocation();
                    //     watchPosition();
                    // };
                    // function getLocation() {
                    //     if (navigator.geolocation) {
                    //         navigator.geolocation.watchPosition(success, error, {maximumAge: 5000,
                    //                                                             enableHighAccuracy: true});
                    //     } else {
                    //         console.log("Geolocation is not supported by this browser.");
                    //     }
                    // }
                    function executeQuery() {
                        jQuery.support.cors = true;
                        $.ajax
                        ({
                            type: "get",
                            url: "http://13.82.53.220:4885/message/gps/33574e2d3136303130303535", 
                            dataType: "json",
                            crossDomain: "true",
                            contentType: "application/json; charset=UTF-8",
                             complete: function() {                        
                                 setTimeout(executeQuery, 1000);
                            }
                            //  data:  JSON.stringify({name: "Dennis", address: {city: "Dub", country: "IE"}})
                        }).done(function ( data ) {                               
                                success(data);
                        });
                    }
   

                    function error(err) {
                        console.log(err.toString());
                    }
                    function watchPosition() {
                        //map options
                        var mapOptions = {
                            credentials: 'Ao6vpD6q5I9xFZiLoO-2tZm5KNPZ2E80Y8pkPfzVeQpDmUqJ3FoYlkLN9nWC6HET',
                            mapTypeId: Microsoft.Maps.MapTypeId.road,
                            zoom: 15
                        };
                        //map initialization
                        map = new Microsoft.Maps.Map(document.getElementById('myMap'), mapOptions);

                        setTimeout(executeQuery, 2000);
                    }
                    
                    function success(position) {
                        var geoloc =  position.message.gpsData.split(',');                        
                        var lati = geoloc[0];
                        var logi = geoloc[1];
                        // console.log("Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude);
                        var pos = new Microsoft.Maps.Location(lati, logi);

                        p++;
                        // console.log(p);

                        if(pushpin){
                            pushpin.setLocation(pos);
                        }else{
                            //infobox
                            var offsetInfo = new Microsoft.Maps.Point(0, 30); 
                            var infoboxOptions  = { title: "Location Information", description:   "This is your current location.", offset: offsetInfo };
                            var callout = new Microsoft.Maps.Infobox(pos, infoboxOptions);

                            //pushpin
                            var offsetPin = new Microsoft.Maps.Point(0, 5);
                            var pushpinOptions = {text : 'V', visible: true, textOffset: offsetPin};
                            pushpin = new Microsoft.Maps.Pushpin(pos, pushpinOptions);
                            map.entities.push(pushpin);
                        }

                        map.setView({center:pos});
                    }
                    
            </script>       
    <!-- /.panel -->
        </div>
        <!-- /.panel-body -->
    </div>        