                
                    <% include ../partials/monitoringMaps.ejs %>
                
                    <% include ../partials/graph-general.ejs %>
                
                    <% include ../partials/events.ejs %>    

                    <% include ../partials/notifications.ejs %>
                    
                    <% include ../partials/graph-pie.ejs %>
                                            
                    <%// include ../partials/chat.ejs %>

                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->