extends ../layout/default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Administração
          li.breadcrumb-item Configurações
          li.breadcrumb-item Parâmetros
          li.breadcrumb-item.active Perfil de Usuário
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-edit
                      |  Perfil de Usuário
                    .card-body   
                      form.form-horizontal(action='/profiles/save', method='post')
                        .form-group
                          label.form-control-label(for='userProfile') Perfil
                          .controls
                            .input-group
                              input#userProfile.form-control(size='16', type='text')
                        .form-group
                          label.form-control-label(for='ProfileDescription') Descrição
                          .controls
                            .input-group
                              input#ProfileDescription.form-control(size='100', type='text')                                                              
                        .form-group
                          label.col-md-3.form-control-label(for='activedYN') Ativo?
                          .controls
                            .col-md-9
                              select#select.form-control-sm(name='activedYN')
                                option(value='Y') Sim
                                option(value='N') Não
                            //- .input-group
                            //-   input#actived.form-control(size='16', type='text')                       
                        //- .form-group
                        //-   label.form-control-label(for='createdBy') Criado por
                        //-   .controls
                        //-     .input-group
                        //-       input#createdBy.form-control(size='16', type='text')
                        //- .form-group
                        //-   label.form-control-label(for='createdAt') Criado em
                        //-   .controls
                        //-     .input-group
                        //-       input#createdAt.form-control(size='16', type='text')
                        //- .form-group
                        //-   label.form-control-label(for='modifiedBy') Modificado por
                        //-   .controls
                        //-     .input-group
                        //-       input#modifiedBy.form-control(size='16', type='text')
                        //- .form-group
                        //-   label.form-control-label(for='modifiedAt') Modificado em
                        //-   .controls
                        //-     .input-group
                        //-       input#modifiedAt.form-control(size='16', type='text')                        
                        .form-actions
                          button.btn.btn-sm.primary(type='submit') Salvar
                          button.btn.btn-sm.secondary(type='button') Cancelar                                                                       