extends layout
block content
 main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Meu Cockpit
          li.breadcrumb-item Analytics          
          li.breadcrumb-item Veículo[Placa]  
        .container-fluid
          .animated.fadeIn
                //- .row     
                //-     iframe(src='https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/5116937845390896/292710492678053/2416752467241978/latest.html', height='420vh', width='1200vw', allowfullscreen='yes', frameborder='0')
              .card-columns.cols-2
                .card
                  .card-header
                    | Condições da Bateria (Volts)                   
                  .card-body
                    .chart-wrapper
                      canvas#canvas-1
                  .card-footer
                    | Conforme relatado no gráfico acima, o recomendável é ter
                    | um nivel entre 11V a 13V. Qualquer valor abaixo indica desgaste da bateria
                    | e acima representa sobre tensão. Sendo ambos os casos desvios e redução de vida útil da bateria ou falha do alternador.
                .card
                  .card-header
                    | Temperatura do Bloco                    
                  .card-body
                    .chart-wrapper
                      canvas#canvas-2
                  .card-footer
                    | Conforme relatado no gráfico acima, o recomendável é ter
                    | uma temperatura entre 90 a 120 graus. Qualquer valor acima indica imediata intervênção mecanica.
                    | Favor realizar revisão do motor o mais breve possível.
                .card
                  .card-header
                    | Desgaste de Pneus
                  .card-body
                    .chart-wrapper
                      canvas#canvas-3
                  .card-footer    
                .card                
                  .card-header
                    | Pastilha de Freios                    
                  .card-body
                    .chart-wrapper
                      canvas#canvas-4
                .card
                  .card-header
                    | Consumo Médio (Litros)
                  .card-body
                    .chart-wrapper
                      canvas#canvas-5
                .card
                  .card-header
                    | DTCs
                  .card-body
                    .chart-wrapper
                      canvas#canvas-6