extends layout
block content
 main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Perfil do Condutor
          li.breadcrumb-item Meu Veículo
          li.breadcrumb-item.active Alertas
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Alertas
                    .card-body
                      table.table.table-striped
                        thead
                          tr
                            th Em #{dateNow()}                            
                        tbody
                          tr
                            td 10:22 Ignição do veículo         
                              span.badge.badge-success Condição Normal
                          tr
                            td 13:07 Frenagem Brusca                            
                              span.badge.badge-danger Perigo
                          tr
                            td 13:22 Velocidade Acima da Média de 60 KM/h
                              span.badge.badge-danger Consumo 
                          tr
                            td 13:48 Motor Ocioso                            
                              span.badge.badge-warning Consumo 
                          tr
                            td 14:15 Dongle Desconectado                            
                              span.badge.badge-success Informação
                          tr
                            td 14:20 Dongle Conectado                            
                              span.badge.badge-success Informação    
                      ul.pagination
                        li.page-item
                          a.page-link(href='#') Prev
                        li.page-item.active
                          a.page-link(href='#') 1
                        li.page-item
                          a.page-link(href='#') 2
                        li.page-item
                          a.page-link(href='#') 3
                        li.page-item
                          a.page-link(href='#') 4
                        li.page-item
                          a.page-link(href='#') Next