extends layout
block content
 main.main
         // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Meu veículo
          li.breadcrumb-item Eventos
          li.breadcrumb-item.active Alarmes
        .container-fluid
          .animated.fadeIn
            .row   