extends layout
block content
 main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Principal
          li.breadcrumb-item
            a(href='#') Viriato
          li.breadcrumb-item.active Dashboard
        .container-fluid
             //- .animated.fadeIn
            .row
              .col-md-12
                .card
                  .card-header
                    .form-group.row
                        .col-md-3
                          select#select.form-control(name='select')
                            option(value='0') Periodo
                            option(value='1') 10/09/2017 a 16/09/2017
                            option(value='2') 03/09/2017 a 09/09/2017
                        .col-md-4
                          select#select.form-control(name='select')
                            option(value='0') Todos Veículos
                            option(value='1') JXW-0933 - Sandero Prata 1.0 Autentique Flex 2011
                            option(value='2') HAH-3244 - Onix Preto 1.0 Flex 2011 
                        button.btn.btn-sm.btn-chartjs(type='submit')
                          i.fa.fa-hand-pointer-o
                          |  Atualizar 
                  .card-body 
                  .chart-wrapper.px-3(style='height:350px;')
                    canvas#card-chart3.chart(height='70')     
                      script(type='text/javascript').
                       var doughnutData = {
                          labels: [
                            'Red',
                            'Green'
                          ],
                          datasets: [{
                            data: [300, 50, 100],
                            backgroundColor: [
                              '#FF6384',
                              '#36A2EB',
                              '#FFCE56'
                            ],
                            hoverBackgroundColor: [
                              '#FF6384',
                              '#36A2EB',
                              '#FFCE56'
                            ]
                          }]
                        };
                       
                        //- var ctx = document.getElementById('canvas-3').getContext("2d");;
                        //- var chart = new Chart(ctx, {
                        //-   type: 'doughnut',
                        //-   data: doughnutData,
                        //-   options: {
                        //-     responsive: true
                        //-   }
                        //- });
                        window.onload = function() {
                          var ctx = document.getElementById('card-chart3').getContext("2d");;
                          var chart = new Chart(ctx, {
                            type: 'doughnut',
                            data: doughnutData,
                            options: {
                              responsive: true
                            }
                          });
                           console.log("Entrou!!");
                        };                  