extends layout
block content
  main.main         
        ol.breadcrumb
          li.breadcrumb-item Home
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item.active Meu Dashboard          
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                .card
                  .card-header
                    | Ultimo Trajeto
                  .card-body
                    .row
                    #myMap(style='left:5px; width: 74vw; height: 60vh;')
                        script(type='text/javascript').
                          var map;
                          var p = 0;                          
                          var pushpin;
                          function loadMapScenario() {                    
                            watchPosition();  
                            DrawRoudTrip();                          
                          };
                          
                          function executeQuery() {
                              jQuery.support.cors = true;
                              $.ajax
                              ({
                                type: "get",
                                url: "/message/gps/33574e2d3136303130303535",
                                dataType: "json",
                                crossDomain: "true",
                                contentType: "application/json; charset=UTF-8"                                                             
                              }).done(function ( data ) {                                
                                success(data);
                              });
                          };                          

                          function error(err) {
                            console.log(err.toString());
                          }
                          function watchPosition() {
                            //map options
                            var mapOptions = {
                              credentials: 'Ao6vpD6q5I9xFZiLoO-2tZm5KNPZ2E80Y8pkPfzVeQpDmUqJ3FoYlkLN9nWC6HET',
                              mapTypeId: Microsoft.Maps.MapTypeId.road,
                              enableSearchLogo: false,
                              zoom: 14
                            };
                            //map initialization
                            map = new Microsoft.Maps.Map(document.getElementById('myMap'), mapOptions);                            
                            executeQuery();                            
                          }

                          function success(position) {
                            var geoloc =  position.message.gpsData.split(',');
                            var lati = geoloc[0];
                            var logi = geoloc[1];
                          
                            var pos = new Microsoft.Maps.Location(lati, logi);
                            p++;                            
                            if(pushpin){
                              pushpin.setLocation(pos);
                            }else{
                              //infobox
                              var offsetInfo = new Microsoft.Maps.Point(0, 30);
                              var infoboxOptions  = { title: "Info.", description:   "Carro", offset: offsetInfo };
                              var callout = new Microsoft.Maps.Infobox(pos, infoboxOptions);
                              //pushpin
                              var offsetPin = new Microsoft.Maps.Point(0, 5);
                              var cardraw = '/img/driveonicocar.jpg'
                              //var cardraw = '/img/doicon.png'                              
                              var VIN = position.message.vinCode||'JXA-0944';
                              var dongleCode = position.message.dongleCode.match(/.{1,2}/g).map(function(v){
                                                  return String.fromCharCode(parseInt(v, 16));
                                                }).join('');
                              var pushpinOptions = {icon: cardraw, title: VIN, subTitle: dongleCode };
                              pushpin = new Microsoft.Maps.Pushpin(pos, pushpinOptions);

                              map.entities.push(pushpin);
                              map.entities.push(callout);
                            }
                             map.setView({center:pos});
                          };

                          function DrawRoudTrip(){
                              var points = [
                                    new Microsoft.Maps.Location(-3.0751833333333334, -59.956785),
                                    new Microsoft.Maps.Location(-3.0752083333333333, -59.956673333333335),
                                    new Microsoft.Maps.Location(-3.075206666666667, -59.956745),
                                    new Microsoft.Maps.Location(-3.0753333333333335, -59.95675),
                                    new Microsoft.Maps.Location(-3.0752083333333333, -59.956673333333335),
                                    new Microsoft.Maps.Location(-3.075275, -59.956763333333335),
                                    new Microsoft.Maps.Location(-3.0752616666666666, -59.95675833333333),
                                    new Microsoft.Maps.Location(-3.07525, -59.956756666666664),
                                    new Microsoft.Maps.Location(-3.0752083333333333, -59.956673333333335),
                                    new Microsoft.Maps.Location(-3.0752083333333333, -59.956673333333335),
                                    new Microsoft.Maps.Location(-3.075248333333333, -59.95675166666667),
                                    new Microsoft.Maps.Location(-3.0752083333333333, -59.956673333333335),
                                    new Microsoft.Maps.Location(-3.075328333333333, -59.95675),
                                    new Microsoft.Maps.Location(-3.0752916666666668, -59.95675333333333),
                                    new Microsoft.Maps.Location(-3.0752866666666665, -59.956765),
                                    new Microsoft.Maps.Location(-3.0752816666666667, -59.95677),
                                    new Microsoft.Maps.Location(-3.0752033333333335, -59.9567),
                                    new Microsoft.Maps.Location(-3.075511666666667, -59.95656666666667),
                                    new Microsoft.Maps.Location(-3.0752083333333333, -59.956673333333335),
                                    new Microsoft.Maps.Location(-3.0752083333333333, -59.956673333333335),
                                    new Microsoft.Maps.Location(-3.0756, -59.95655166666667),
                                    new Microsoft.Maps.Location(-3.0756283333333334, -59.95654833333333),
                                    new Microsoft.Maps.Location(-3.0757033333333332, -59.956653333333335),
                                    new Microsoft.Maps.Location(-3.0752083333333333, -59.956673333333335),
                                    new Microsoft.Maps.Location(-3.075798333333333, -59.95694833333334),
                                    new Microsoft.Maps.Location(-3.0759133333333333, -59.95733),
                                    new Microsoft.Maps.Location(-3.07612, -59.958083333333335),
                                    new Microsoft.Maps.Location(-3.0762583333333335, -59.95863833333333),
                                    new Microsoft.Maps.Location(-3.0762483333333335, -59.95914666666667),
                                    new Microsoft.Maps.Location(-3.0752083333333333, -59.956673333333335),
                                    new Microsoft.Maps.Location(-3.0756266666666665, -59.960035),
                                    new Microsoft.Maps.Location(-3.0747983333333333, -59.96223833333333),
                                    new Microsoft.Maps.Location(-3.0747483333333334, -59.962425),
                                    new Microsoft.Maps.Location(-3.074838333333333, -59.962485),
                                    new Microsoft.Maps.Location(-3.0749066666666667, -59.96236833333333),
                                    new Microsoft.Maps.Location(-3.074965, -59.96212166666667),
                                    new Microsoft.Maps.Location(-3.07503, -59.961875),
                                    new Microsoft.Maps.Location(-3.0751483333333334, -59.96114166666667),
                                    new Microsoft.Maps.Location(-3.0753216666666665, -59.960681666666666),
                                    new Microsoft.Maps.Location(-3.075606666666667, -59.96024833333333),
                                    new Microsoft.Maps.Location(-3.0764283333333333, -59.95901166666667),
                                    new Microsoft.Maps.Location(-3.076355, -59.95833),
                                    new Microsoft.Maps.Location(-3.076016666666667, -59.95677833333333),
                                    new Microsoft.Maps.Location(-3.0759966666666667, -59.95636),
                                    new Microsoft.Maps.Location(-3.076226666666667, -59.95609),
                                    new Microsoft.Maps.Location(-3.0767066666666665, -59.95606166666666),
                                    new Microsoft.Maps.Location(-3.0773183333333334, -59.956066666666665),
                                    new Microsoft.Maps.Location(-3.077958333333333, -59.956065),
                                    new Microsoft.Maps.Location(-3.0786066666666665, -59.956048333333335),
                                    new Microsoft.Maps.Location(-3.079248333333333, -59.955931666666665),
                                    new Microsoft.Maps.Location(-3.080426666666667, -59.955301666666664),
                                    new Microsoft.Maps.Location(-3.08095, -59.9549),
                                    new Microsoft.Maps.Location(-3.082333333333333, -59.953808333333335),
                                    new Microsoft.Maps.Location(-3.082803333333333, -59.953406666666666),
                                    new Microsoft.Maps.Location(-3.084023333333333, -59.95244),
                                    new Microsoft.Maps.Location(-3.08513, -59.951593333333335),
                                    new Microsoft.Maps.Location(-3.08571, -59.95114),
                                    new Microsoft.Maps.Location(-3.0863966666666665, -59.9506),
                                    new Microsoft.Maps.Location(-3.086961666666667, -59.95014833333333),
                                    new Microsoft.Maps.Location(-3.0875233333333334, -59.94971666666667),
                                    new Microsoft.Maps.Location(-3.088721666666667, -59.949065),
                                    new Microsoft.Maps.Location(-3.0893283333333335, -59.94889333333333),
                                    new Microsoft.Maps.Location(-3.090463333333333, -59.948681666666666),
                                    new Microsoft.Maps.Location(-3.0910583333333332, -59.94858),
                                    new Microsoft.Maps.Location(-3.09169, -59.94847),
                                    new Microsoft.Maps.Location(-3.0923516666666666, -59.94835666666667),
                                    new Microsoft.Maps.Location(-3.09308, -59.948236666666666),
                                    new Microsoft.Maps.Location(-3.0945733333333334, -59.947995),
                                    new Microsoft.Maps.Location(-3.097331666666667, -59.94753166666667),
                                    new Microsoft.Maps.Location(-3.097863333333333, -59.94757166666667),
                                    new Microsoft.Maps.Location(-3.09816, -59.947948333333336),
                                    new Microsoft.Maps.Location(-3.09842, -59.94857),
                                    new Microsoft.Maps.Location(-3.0989883333333332, -59.94992666666667),
                                    new Microsoft.Maps.Location(-3.0999833333333333, -59.95189666666667),
                                    new Microsoft.Maps.Location(-3.100485, -59.95252),
                                    new Microsoft.Maps.Location(-3.10102, -59.953133333333334),
                                    new Microsoft.Maps.Location(-3.10149, -59.953745),
                                    new Microsoft.Maps.Location(-3.1019016666666666, -59.954366666666665),
                                    new Microsoft.Maps.Location(-3.10231, -59.95497666666667),
                                    new Microsoft.Maps.Location(-3.10282, -59.95548),
                                    new Microsoft.Maps.Location(-3.1034616666666666, -59.955843333333334),
                                    new Microsoft.Maps.Location(-3.1041783333333335, -59.956118333333336),
                                    new Microsoft.Maps.Location(-3.104903333333333, -59.9564),
                                    new Microsoft.Maps.Location(-3.1078116666666666, -59.958423333333336),
                                    new Microsoft.Maps.Location(-3.1089866666666666, -59.960238333333336),
                                    new Microsoft.Maps.Location(-3.109426666666667, -59.9609),
                                    new Microsoft.Maps.Location(-3.110098333333333, -59.961933333333334),
                                    new Microsoft.Maps.Location(-3.111225, -59.964056666666664),
                                    new Microsoft.Maps.Location(-3.1115633333333332, -59.964753333333334),
                                    new Microsoft.Maps.Location(-3.1119666666666665, -59.965565),
                                    new Microsoft.Maps.Location(-3.1122833333333335, -59.966161666666665),
                                    new Microsoft.Maps.Location(-3.113095, -59.96725),
                                    new Microsoft.Maps.Location(-3.11361, -59.96779333333333),
                                    new Microsoft.Maps.Location(-3.11417, -59.968358333333335),
                                    new Microsoft.Maps.Location(-3.1150166666666665, -59.96943666666667),
                                    new Microsoft.Maps.Location(-3.115718333333333, -59.97050333333333),
                                    new Microsoft.Maps.Location(-3.11604, -59.97105333333333),
                                    new Microsoft.Maps.Location(-3.1166483333333335, -59.97213333333333),
                                    new Microsoft.Maps.Location(-3.11698, -59.97275833333333),
                                    new Microsoft.Maps.Location(-3.117455, -59.97375666666667),
                                    new Microsoft.Maps.Location(-3.1187766666666668, -59.97539),
                                    new Microsoft.Maps.Location(-3.119753333333333, -59.97659),
                                    new Microsoft.Maps.Location(-3.1200183333333333, -59.977158333333335),
                                    new Microsoft.Maps.Location(-3.120181666666667, -59.97781333333333),
                                    new Microsoft.Maps.Location(-3.12047, -59.97843),
                                    new Microsoft.Maps.Location(-3.1230166666666666, -59.981123333333336),
                                    new Microsoft.Maps.Location(-3.1236466666666667, -59.981395),
                                    new Microsoft.Maps.Location(-3.1242783333333333, -59.981605),
                                    new Microsoft.Maps.Location(-3.1248133333333334, -59.98184),
                                    new Microsoft.Maps.Location(-3.125278333333333, -59.98218166666667),
                                    new Microsoft.Maps.Location(-3.1260616666666667, -59.98303),
                                    new Microsoft.Maps.Location(-3.1269016666666665, -59.98392166666667),
                                    new Microsoft.Maps.Location(-3.127415, -59.984298333333335),
                                    new Microsoft.Maps.Location(-3.1279683333333335, -59.984565),
                                    new Microsoft.Maps.Location(-3.1314033333333335, -59.98509),
                                    new Microsoft.Maps.Location(-3.13166, -59.98539666666667),
                                    new Microsoft.Maps.Location(-3.131695, -59.985728333333334),
                                    new Microsoft.Maps.Location(-3.1313866666666668, -59.986041666666665),
                                    new Microsoft.Maps.Location(-3.1310633333333335, -59.98643333333333),
                                    new Microsoft.Maps.Location(-3.130926666666667, -59.9869),
                                    new Microsoft.Maps.Location(-3.130935, -59.98736),
                                    new Microsoft.Maps.Location(-3.131335, -59.98809333333333),
                                    new Microsoft.Maps.Location(-3.1315483333333334, -59.98849833333333),
                                    new Microsoft.Maps.Location(-3.1314083333333333, -59.989003333333336),
                                    new Microsoft.Maps.Location(-3.1307383333333334, -59.990451666666665),
                                    new Microsoft.Maps.Location(-3.1305283333333334, -59.990928333333336),
                                    new Microsoft.Maps.Location(-3.1305016666666665, -59.990986666666664),
                                    new Microsoft.Maps.Location(-3.1305016666666665, -59.99098166666667),
                                    new Microsoft.Maps.Location(-3.1305, -59.99098166666667),
                                    new Microsoft.Maps.Location(-3.1304516666666666, -59.99110833333334),
                                    new Microsoft.Maps.Location(-3.1301983333333334, -59.991785),
                                    new Microsoft.Maps.Location(-3.1300316666666665, -59.99222833333334),
                                    new Microsoft.Maps.Location(-3.1296766666666667, -59.993155),
                                    new Microsoft.Maps.Location(-3.1294583333333335, -59.99375166666667),
                                    new Microsoft.Maps.Location(-3.1293016666666666, -59.99422166666667),
                                    new Microsoft.Maps.Location(-3.129131666666667, -59.99473833333333),
                                    new Microsoft.Maps.Location(-3.128995, -59.99522),
                                    new Microsoft.Maps.Location(-3.128921666666667, -59.99546333333333),
                                    new Microsoft.Maps.Location(-3.128685, -59.99545833333333),
                                    new Microsoft.Maps.Location(-3.12871, -59.995538333333336),
                                    new Microsoft.Maps.Location(-3.128755, -59.99554166666667),
                                    new Microsoft.Maps.Location(-3.128745, -59.99554166666667),
                                    new Microsoft.Maps.Location(-3.128745, -59.99554833333333),
                                    new Microsoft.Maps.Location(-3.1288566666666666, -59.99557166666666),
                                    new Microsoft.Maps.Location(-3.129026666666667, -59.99546),
                                    new Microsoft.Maps.Location(-3.1292883333333332, -59.99453833333333),
                                    new Microsoft.Maps.Location(-3.129478333333333, -59.993988333333334),
                                    new Microsoft.Maps.Location(-3.1296833333333334, -59.993408333333335),
                                    new Microsoft.Maps.Location(-3.129885, -59.99280666666667),
                                    new Microsoft.Maps.Location(-3.1301033333333335, -59.992225),
                                    new Microsoft.Maps.Location(-3.1305233333333335, -59.99118166666667),
                                    new Microsoft.Maps.Location(-3.1308283333333335, -59.990453333333335),
                                    new Microsoft.Maps.Location(-3.1310683333333333, -59.98994666666667),
                                    new Microsoft.Maps.Location(-3.1314083333333333, -59.98925833333333),
                                    new Microsoft.Maps.Location(-3.1316433333333333, -59.98875666666667),
                                    new Microsoft.Maps.Location(-3.131875, -59.988438333333335),
                                    new Microsoft.Maps.Location(-3.1321966666666667, -59.988445),
                                    new Microsoft.Maps.Location(-3.132921666666667, -59.988323333333334),
                                    new Microsoft.Maps.Location(-3.133983333333333, -59.98791833333333),
                                    new Microsoft.Maps.Location(-3.13446, -59.98813166666667),
                                    new Microsoft.Maps.Location(-3.1349933333333335, -59.98828666666667),
                                    new Microsoft.Maps.Location(-3.1355666666666666, -59.988385),
                                    new Microsoft.Maps.Location(-3.136163333333333, -59.98849333333333),
                                    new Microsoft.Maps.Location(-3.1367533333333335, -59.98867333333333),
                                    new Microsoft.Maps.Location(-3.137208333333333, -59.98887),
                                    new Microsoft.Maps.Location(-3.138698333333333, -59.989555),
                                    new Microsoft.Maps.Location(-3.14009, -59.99019333333333),
                                    new Microsoft.Maps.Location(-3.1406433333333332, -59.990451666666665),
                                    new Microsoft.Maps.Location(-3.141801666666667, -59.99099666666667),
                                    new Microsoft.Maps.Location(-3.142376666666667, -59.991263333333336),
                                    new Microsoft.Maps.Location(-3.1434616666666666, -59.99177),
                                    new Microsoft.Maps.Location(-3.1441866666666667, -59.99211),
                                    new Microsoft.Maps.Location(-3.145295, -59.99337333333333),
                                    new Microsoft.Maps.Location(-3.1455016666666666, -59.994193333333335),
                                    new Microsoft.Maps.Location(-3.1457733333333335, -59.99370666666667),
                                    new Microsoft.Maps.Location(-3.145678333333333, -59.99354666666667),
                                    new Microsoft.Maps.Location(-3.14562, -59.993408333333335),
                                    new Microsoft.Maps.Location(-3.145426666666667, -59.99299833333333),
                                    new Microsoft.Maps.Location(-3.1452766666666667, -59.992575),
                                    new Microsoft.Maps.Location(-3.1452166666666668, -59.99248166666667),
                                    new Microsoft.Maps.Location(-3.1452, -59.992491666666666),
                                    new Microsoft.Maps.Location(-3.1449833333333332, -59.992023333333336),
                                    new Microsoft.Maps.Location(-3.14476, -59.991263333333336),
                                    new Microsoft.Maps.Location(-3.1446716666666665, -59.99077333333334),
                                    new Microsoft.Maps.Location(-3.144555, -59.990181666666665),
                                    new Microsoft.Maps.Location(-3.144423333333333, -59.98961),
                                    new Microsoft.Maps.Location(-3.144153333333333, -59.988168333333334),
                                    new Microsoft.Maps.Location(-3.143911666666667, -59.98724),
                                    new Microsoft.Maps.Location(-3.143911666666667, -59.986823333333334),
                                    new Microsoft.Maps.Location(-3.1436116666666667, -59.985975),
                                    new Microsoft.Maps.Location(-3.1431883333333333, -59.98518166666667),
                                    new Microsoft.Maps.Location(-3.143108333333333, -59.984946666666666),
                                    new Microsoft.Maps.Location(-3.1431116666666665, -59.984885),
                                    new Microsoft.Maps.Location(-3.1431033333333334, -59.984883333333336),
                                    new Microsoft.Maps.Location(-3.1430866666666666, -59.98488666666667),
                                    new Microsoft.Maps.Location(-3.1430766666666665, -59.98488833333333),
                                    new Microsoft.Maps.Location(-3.143075, -59.984895),
                                    new Microsoft.Maps.Location(-3.143073333333333, -59.9849),
                                    new Microsoft.Maps.Location(-3.1430666666666665, -59.98490666666667),
                                    new Microsoft.Maps.Location(-3.1430633333333335, -59.98490833333334),
                                    new Microsoft.Maps.Location(-3.14306, -59.98491),
                                    new Microsoft.Maps.Location(-3.143056666666667, -59.98491),
                                    new Microsoft.Maps.Location(-3.1430516666666666, -59.98491166666667),
                                    new Microsoft.Maps.Location(-3.14305, -59.98491166666667),
                                    new Microsoft.Maps.Location(-3.1430533333333335, -59.98491),
                                    new Microsoft.Maps.Location(-3.1430583333333333, -59.98490666666667),
                                    new Microsoft.Maps.Location(-3.143065, -59.98490666666667),
                                    new Microsoft.Maps.Location(-3.1430666666666665, -59.984901666666666),
                                    new Microsoft.Maps.Location(-3.143065, -59.984903333333335),
                                    new Microsoft.Maps.Location(-3.1430583333333333, -59.984905),
                                    new Microsoft.Maps.Location(-3.1430466666666668, -59.98491),
                                    new Microsoft.Maps.Location(-3.14305, -59.98491),
                                    new Microsoft.Maps.Location(-3.1430533333333335, -59.98491),
                                    new Microsoft.Maps.Location(-3.143056666666667, -59.984903333333335),
                                    new Microsoft.Maps.Location(-3.14306, -59.9849),
                                    new Microsoft.Maps.Location(-3.1430616666666666, -59.9849),
                                    new Microsoft.Maps.Location(-3.1430633333333335, -59.984901666666666),
                                    new Microsoft.Maps.Location(-3.1430616666666666, -59.984898333333334),
                                    new Microsoft.Maps.Location(-3.143065, -59.984898333333334),
                                    new Microsoft.Maps.Location(-3.1430633333333335, -59.984901666666666),
                                    new Microsoft.Maps.Location(-3.1430633333333335, -59.984903333333335),
                                    new Microsoft.Maps.Location(-3.1430633333333335, -59.984896666666664),
                                    new Microsoft.Maps.Location(-3.1430633333333335, -59.984896666666664),
                                    new Microsoft.Maps.Location(-3.1430633333333335, -59.984898333333334),
                                    new Microsoft.Maps.Location(-3.143055, -59.984896666666664),
                                    new Microsoft.Maps.Location(-3.14305, -59.984896666666664),
                                    new Microsoft.Maps.Location(-3.1430466666666668, -59.98489333333333),
                                    new Microsoft.Maps.Location(-3.14305, -59.98489333333333),
                                    new Microsoft.Maps.Location(-3.1430516666666666, -59.98489),
                                    new Microsoft.Maps.Location(-3.1430533333333335, -59.98488833333333),
                                    new Microsoft.Maps.Location(-3.143055, -59.98489),
                                    new Microsoft.Maps.Location(-3.1430583333333333, -59.98489166666667),
                                    new Microsoft.Maps.Location(-3.143056666666667, -59.984901666666666),
                                    new Microsoft.Maps.Location(-3.14306, -59.984905),
                                    new Microsoft.Maps.Location(-3.1430583333333333, -59.9849),
                                    new Microsoft.Maps.Location(-3.143065, -59.984896666666664),
                                    new Microsoft.Maps.Location(-3.14307, -59.984895),
                                    new Microsoft.Maps.Location(-3.1430716666666667, -59.98489333333333),
                                    new Microsoft.Maps.Location(-3.143075, -59.98489),
                                    new Microsoft.Maps.Location(-3.1430766666666665, -59.98488833333333),
                                    new Microsoft.Maps.Location(-3.1430783333333334, -59.98488666666667),
                                    new Microsoft.Maps.Location(-3.14308, -59.984885),
                                    new Microsoft.Maps.Location(-3.14308, -59.984885),
                                    new Microsoft.Maps.Location(-3.14307, -59.98488666666667),
                                    new Microsoft.Maps.Location(-3.1430666666666665, -59.984885),
                                    new Microsoft.Maps.Location(-3.1430666666666665, -59.984885),
                                    new Microsoft.Maps.Location(-3.143075, -59.984881666666666),
                                    new Microsoft.Maps.Location(-3.1430766666666665, -59.984878333333334),
                                    new Microsoft.Maps.Location(-3.1430683333333334, -59.98488833333333),
                                    new Microsoft.Maps.Location(-3.14307, -59.98488666666667),
                                    new Microsoft.Maps.Location(-3.1430633333333335, -59.98488666666667),
                                    new Microsoft.Maps.Location(-3.1430583333333333, -59.98488666666667),
                                    new Microsoft.Maps.Location(-3.143065, -59.984883333333336),
                                    new Microsoft.Maps.Location(-3.1430683333333334, -59.984881666666666),
                                    new Microsoft.Maps.Location(-3.143073333333333, -59.98488),
                                    new Microsoft.Maps.Location(-3.1430716666666667, -59.98488),
                                    new Microsoft.Maps.Location(-3.1430683333333334, -59.984876666666665),
                                    new Microsoft.Maps.Location(-3.143065, -59.984876666666665),
                                    new Microsoft.Maps.Location(-3.1430616666666666, -59.984875),
                                    new Microsoft.Maps.Location(-3.1430633333333335, -59.984885),
                                    new Microsoft.Maps.Location(-3.143055, -59.98488833333333),
                                    new Microsoft.Maps.Location(-3.1430583333333333, -59.98489),
                                    new Microsoft.Maps.Location(-3.14306, -59.98488666666667),
                                    new Microsoft.Maps.Location(-3.143038333333333, -59.984885),
                                    new Microsoft.Maps.Location(-3.14304, -59.984903333333335),
                                    new Microsoft.Maps.Location(-3.1430366666666667, -59.98491),
                                    new Microsoft.Maps.Location(-3.143038333333333, -59.98491),
                                    new Microsoft.Maps.Location(-3.143045, -59.98490666666667),
                                    new Microsoft.Maps.Location(-3.143045, -59.98490666666667),
                                    new Microsoft.Maps.Location(-3.143045, -59.98490666666667),
                                    new Microsoft.Maps.Location(-3.143045, -59.98490666666667),
                                    new Microsoft.Maps.Location(-3.143048333333333, -59.984903333333335),
                                    new Microsoft.Maps.Location(-3.1430016666666667, -59.98493),
                                    new Microsoft.Maps.Location(-3.1430066666666665, -59.984973333333336),
                                    new Microsoft.Maps.Location(-3.143045, -59.98490666666667),
                                    new Microsoft.Maps.Location(-3.1430683333333334, -59.98520333333333),
                                    new Microsoft.Maps.Location(-3.143788333333333, -59.987073333333335),
                                    new Microsoft.Maps.Location(-3.1438733333333335, -59.98743833333333),
                                    new Microsoft.Maps.Location(-3.143045, -59.98490666666667),
                                    new Microsoft.Maps.Location(-3.1440516666666665, -59.98818166666667),
                                    new Microsoft.Maps.Location(-3.144083333333333, -59.98851666666667),
                                    new Microsoft.Maps.Location(-3.144206666666667, -59.988791666666664),
                                    new Microsoft.Maps.Location(-3.1442983333333334, -59.989175),
                                    new Microsoft.Maps.Location(-3.1444116666666666, -59.98961333333333),
                                    new Microsoft.Maps.Location(-3.144955, -59.99209833333333),
                                    new Microsoft.Maps.Location(-3.1451333333333333, -59.99243),
                                    new Microsoft.Maps.Location(-3.1454316666666666, -59.992531666666665),
                                    new Microsoft.Maps.Location(-3.145488333333333, -59.99292333333333),
                                    new Microsoft.Maps.Location(-3.1454683333333335, -59.99314666666667),
                                    new Microsoft.Maps.Location(-3.1455183333333334, -59.99339),
                                    new Microsoft.Maps.Location(-3.14554, -59.99373166666667),
                                    new Microsoft.Maps.Location(-3.1454133333333334, -59.99346333333333),
                                    new Microsoft.Maps.Location(-3.1446733333333334, -59.992261666666664),
                                    new Microsoft.Maps.Location(-3.1434866666666665, -59.991703333333334),
                                    new Microsoft.Maps.Location(-3.14165, -59.99087),
                                    new Microsoft.Maps.Location(-3.1410933333333335, -59.990611666666666),
                                    new Microsoft.Maps.Location(-3.140075, -59.990143333333336),
                                    new Microsoft.Maps.Location(-3.139823333333333, -59.99003166666667),
                                    new Microsoft.Maps.Location(-3.1398183333333334, -59.99003),
                                    new Microsoft.Maps.Location(-3.1397683333333335, -59.990003333333334),
                                    new Microsoft.Maps.Location(-3.13974, -59.990413333333336),
                                    new Microsoft.Maps.Location(-3.1399, -59.99115333333334),
                                    new Microsoft.Maps.Location(-3.139946666666667, -59.991375),
                                    new Microsoft.Maps.Location(-3.1399783333333335, -59.991395),
                                    new Microsoft.Maps.Location(-3.139953333333333, -59.991255),
                                    new Microsoft.Maps.Location(-3.13992, -59.991125),
                                    new Microsoft.Maps.Location(-3.1399166666666667, -59.99106833333333),
                                    new Microsoft.Maps.Location(-3.139935, -59.991045),
                                    new Microsoft.Maps.Location(-3.1399483333333333, -59.991031666666665),
                                    new Microsoft.Maps.Location(-3.139945, -59.991051666666664),
                                    new Microsoft.Maps.Location(-3.139955, -59.99106166666667),
                                    new Microsoft.Maps.Location(-3.1399583333333334, -59.99106),
                                    new Microsoft.Maps.Location(-3.1399583333333334, -59.991055),
                                    new Microsoft.Maps.Location(-3.1399516666666667, -59.991056666666665),
                                    new Microsoft.Maps.Location(-3.139946666666667, -59.991058333333335),
                                    new Microsoft.Maps.Location(-3.13994, -59.99105333333333),
                                    new Microsoft.Maps.Location(-3.13993, -59.99105),
                                    new Microsoft.Maps.Location(-3.139928333333333, -59.991051666666664),
                                    new Microsoft.Maps.Location(-3.139928333333333, -59.991051666666664),
                                    new Microsoft.Maps.Location(-3.13993, -59.991051666666664),
                                    new Microsoft.Maps.Location(-3.1399316666666666, -59.99105333333333),
                                    new Microsoft.Maps.Location(-3.1399416666666666, -59.991055),
                                    new Microsoft.Maps.Location(-3.139945, -59.991056666666665),
                                    new Microsoft.Maps.Location(-3.1399483333333333, -59.991055),
                                    new Microsoft.Maps.Location(-3.1399566666666665, -59.991058333333335),
                                    new Microsoft.Maps.Location(-3.1399566666666665, -59.99106),
                                    new Microsoft.Maps.Location(-3.139953333333333, -59.991065),
                                    new Microsoft.Maps.Location(-3.1399583333333334, -59.991065),
                                    new Microsoft.Maps.Location(-3.1399616666666668, -59.99106833333333),
                                    new Microsoft.Maps.Location(-3.139965, -59.99107),
                                    new Microsoft.Maps.Location(-3.1399666666666666, -59.99106833333333),
                                    new Microsoft.Maps.Location(-3.1399683333333335, -59.99106666666667),
                                    new Microsoft.Maps.Location(-3.1399683333333335, -59.991065),
                                    new Microsoft.Maps.Location(-3.139971666666667, -59.99106),
                                    new Microsoft.Maps.Location(-3.1399766666666666, -59.991058333333335),
                                    new Microsoft.Maps.Location(-3.139985, -59.991058333333335),
                                    new Microsoft.Maps.Location(-3.139985, -59.99106),
                                    new Microsoft.Maps.Location(-3.1399866666666667, -59.99106166666667),
                                    new Microsoft.Maps.Location(-3.139988333333333, -59.99106333333334),
                                    new Microsoft.Maps.Location(-3.1399916666666665, -59.991065),
                                    new Microsoft.Maps.Location(-3.139995, -59.99107),
                                    new Microsoft.Maps.Location(-3.13999, -59.99107),
                                    new Microsoft.Maps.Location(-3.139985, -59.99107166666667),
                                    new Microsoft.Maps.Location(-3.1399766666666666, -59.99107333333333),
                                    new Microsoft.Maps.Location(-3.1399733333333333, -59.991075),
                                    new Microsoft.Maps.Location(-3.1399683333333335, -59.991076666666665),
                                    new Microsoft.Maps.Location(-3.1399666666666666, -59.991078333333334),
                                    new Microsoft.Maps.Location(-3.1399566666666665, -59.99107333333333),
                                    new Microsoft.Maps.Location(-3.1399566666666665, -59.99107),
                                    new Microsoft.Maps.Location(-3.13996, -59.99106666666667),
                                    new Microsoft.Maps.Location(-3.13996, -59.991065),
                                    new Microsoft.Maps.Location(-3.1399583333333334, -59.99106),
                                    new Microsoft.Maps.Location(-3.1399566666666665, -59.991056666666665),
                                    new Microsoft.Maps.Location(-3.1399566666666665, -59.991055),
                                    new Microsoft.Maps.Location(-3.1399566666666665, -59.99105333333333),
                                    new Microsoft.Maps.Location(-3.1399516666666667, -59.99105333333333),
                                    new Microsoft.Maps.Location(-3.139946666666667, -59.991056666666665),
                                    new Microsoft.Maps.Location(-3.1399433333333335, -59.991056666666665),
                                    new Microsoft.Maps.Location(-3.1399333333333335, -59.991056666666665),
                                    new Microsoft.Maps.Location(-3.1399266666666668, -59.991056666666665),
                                    new Microsoft.Maps.Location(-3.13992, -59.991056666666665),
                                    new Microsoft.Maps.Location(-3.139918333333333, -59.991058333333335),
                                    new Microsoft.Maps.Location(-3.139915, -59.99106),
                                    new Microsoft.Maps.Location(-3.139915, -59.991058333333335),
                                    new Microsoft.Maps.Location(-3.139918333333333, -59.991056666666665),
                                    new Microsoft.Maps.Location(-3.1399166666666667, -59.99105333333333),
                                    new Microsoft.Maps.Location(-3.1399316666666666, -59.991051666666664),
                                    new Microsoft.Maps.Location(-3.139936666666667, -59.99105),
                                    new Microsoft.Maps.Location(-3.13994, -59.99105),
                                    new Microsoft.Maps.Location(-3.139945, -59.99104833333333),
                                    new Microsoft.Maps.Location(-3.139945, -59.99104666666667),
                                    new Microsoft.Maps.Location(-3.139946666666667, -59.991045),
                                    new Microsoft.Maps.Location(-3.1399483333333333, -59.991045),
                                    new Microsoft.Maps.Location(-3.139955, -59.99104333333333),
                                    new Microsoft.Maps.Location(-3.139955, -59.99104166666667),
                                    new Microsoft.Maps.Location(-3.13995, -59.991038333333336),
                                    new Microsoft.Maps.Location(-3.13995, -59.991035),
                                    new Microsoft.Maps.Location(-3.139946666666667, -59.991033333333334),
                                    new Microsoft.Maps.Location(-3.139945, -59.991033333333334),
                                    new Microsoft.Maps.Location(-3.139946666666667, -59.991033333333334),
                                    new Microsoft.Maps.Location(-3.1399483333333333, -59.991038333333336),
                                    new Microsoft.Maps.Location(-3.13994, -59.99104666666667),
                                    new Microsoft.Maps.Location(-3.1399383333333333, -59.99104833333333),
                                    new Microsoft.Maps.Location(-3.1399333333333335, -59.991045),
                                    new Microsoft.Maps.Location(-3.139936666666667, -59.99104333333333),
                                    new Microsoft.Maps.Location(-3.139936666666667, -59.99104333333333),
                                    new Microsoft.Maps.Location(-3.139936666666667, -59.99104333333333),
                                    new Microsoft.Maps.Location(-3.1399383333333333, -59.99104333333333),
                                    new Microsoft.Maps.Location(-3.13994, -59.99104333333333),
                                    new Microsoft.Maps.Location(-3.1399416666666666, -59.99104333333333),
                                    new Microsoft.Maps.Location(-3.1399416666666666, -59.99104333333333),
                                    new Microsoft.Maps.Location(-3.13994, -59.99104166666667),
                                    new Microsoft.Maps.Location(-3.13994, -59.99104),
                                    new Microsoft.Maps.Location(-3.139936666666667, -59.99104),
                                    new Microsoft.Maps.Location(-3.139935, -59.99104),
                                    new Microsoft.Maps.Location(-3.139928333333333, -59.99104),
                                    new Microsoft.Maps.Location(-3.1399233333333334, -59.99104),
                                    new Microsoft.Maps.Location(-3.1399216666666665, -59.99104166666667),
                                    new Microsoft.Maps.Location(-3.13992, -59.99104),
                                    new Microsoft.Maps.Location(-3.1398866666666665, -59.99100166666667),
                                    new Microsoft.Maps.Location(-3.1398466666666667, -59.99083666666667),
                                    new Microsoft.Maps.Location(-3.139805, -59.990635),
                                    new Microsoft.Maps.Location(-3.1397866666666667, -59.99046333333333),
                                    new Microsoft.Maps.Location(-3.139753333333333, -59.99034666666667),
                                    new Microsoft.Maps.Location(-3.139705, -59.990098333333336),
                                    new Microsoft.Maps.Location(-3.1398966666666666, -59.990116666666665),
                                    new Microsoft.Maps.Location(-3.140165, -59.99024),
                                    new Microsoft.Maps.Location(-3.141138333333333, -59.99069166666666),
                                    new Microsoft.Maps.Location(-3.1416483333333334, -59.990928333333336),
                                    new Microsoft.Maps.Location(-3.142628333333333, -59.99139),
                                    new Microsoft.Maps.Location(-3.143105, -59.99160833333333),
                                    new Microsoft.Maps.Location(-3.14406, -59.99205166666667),
                                    new Microsoft.Maps.Location(-3.14519, -59.99297833333333),
                                    new Microsoft.Maps.Location(-3.145315, -59.993433333333336),
                                    new Microsoft.Maps.Location(-3.1455516666666665, -59.99386333333333),
                                    new Microsoft.Maps.Location(-3.145605, -59.993696666666665),
                                    new Microsoft.Maps.Location(-3.145515, -59.993206666666666),
                                    new Microsoft.Maps.Location(-3.1453716666666667, -59.9928),
                                    new Microsoft.Maps.Location(-3.14534, -59.99272666666667),
                                    new Microsoft.Maps.Location(-3.14534, -59.992725),
                                    new Microsoft.Maps.Location(-3.1453333333333333, -59.99272833333333),
                                    new Microsoft.Maps.Location(-3.14533, -59.992738333333335),
                                    new Microsoft.Maps.Location(-3.1453283333333335, -59.99274),
                                    new Microsoft.Maps.Location(-3.145325, -59.99274333333334),
                                    new Microsoft.Maps.Location(-3.1453183333333334, -59.99275166666666),
                                    new Microsoft.Maps.Location(-3.14532, -59.99275333333333),
                                    new Microsoft.Maps.Location(-3.14532, -59.992756666666665),
                                    new Microsoft.Maps.Location(-3.145321666666667, -59.99274833333333),
                                    new Microsoft.Maps.Location(-3.145325, -59.99274333333334),
                                    new Microsoft.Maps.Location(-3.1452916666666666, -59.99266),
                                    new Microsoft.Maps.Location(-3.1452283333333333, -59.99254166666667),
                                    new Microsoft.Maps.Location(-3.14516, -59.992455),
                                    new Microsoft.Maps.Location(-3.14485, -59.99147166666667),
                                    new Microsoft.Maps.Location(-3.144738333333333, -59.990968333333335),
                                    new Microsoft.Maps.Location(-3.1446266666666665, -59.9904),
                                    new Microsoft.Maps.Location(-3.14451, -59.98981166666667),
                                    new Microsoft.Maps.Location(-3.1443616666666667, -59.989225),
                                    new Microsoft.Maps.Location(-3.14424, -59.98872),
                                    new Microsoft.Maps.Location(-3.14413, -59.98826666666667),
                                    new Microsoft.Maps.Location(-3.143895, -59.987336666666664),
                                    new Microsoft.Maps.Location(-3.1436983333333335, -59.98659333333333),
                                    new Microsoft.Maps.Location(-3.143395, -59.985745),
                                    new Microsoft.Maps.Location(-3.1431466666666665, -59.98534),
                                    new Microsoft.Maps.Location(-3.143015, -59.984928333333336),
                                    new Microsoft.Maps.Location(-3.142925, -59.98455666666667),
                                    new Microsoft.Maps.Location(-3.1427933333333335, -59.98430166666667),
                                    new Microsoft.Maps.Location(-3.1425083333333332, -59.98433833333333),
                                    new Microsoft.Maps.Location(-3.142515, -59.98448),
                                    new Microsoft.Maps.Location(-3.14264, -59.98452666666667),
                                    new Microsoft.Maps.Location(-3.142625, -59.98452),
                                    new Microsoft.Maps.Location(-3.14262, -59.98452),
                                    new Microsoft.Maps.Location(-3.14262, -59.984521666666666),
                                    new Microsoft.Maps.Location(-3.1426233333333333, -59.98452),
                                    new Microsoft.Maps.Location(-3.142628333333333, -59.984515),
                                    new Microsoft.Maps.Location(-3.1426233333333333, -59.98451333333333),
                                    new Microsoft.Maps.Location(-3.1426183333333335, -59.98451166666667),
                                    new Microsoft.Maps.Location(-3.1426166666666666, -59.98451),
                                    new Microsoft.Maps.Location(-3.142615, -59.98450666666667),
                                    new Microsoft.Maps.Location(-3.1426133333333333, -59.984505),
                                    new Microsoft.Maps.Location(-3.142611666666667, -59.98450833333333),
                                    new Microsoft.Maps.Location(-3.142611666666667, -59.98451166666667),
                                    new Microsoft.Maps.Location(-3.1426133333333333, -59.984515),
                                    new Microsoft.Maps.Location(-3.1426133333333333, -59.984518333333334),
                                    new Microsoft.Maps.Location(-3.1426133333333333, -59.984518333333334),
                                    new Microsoft.Maps.Location(-3.1426133333333333, -59.984518333333334),
                                    new Microsoft.Maps.Location(-3.142541666666667, -59.98447)
                              ];  
                              //- var color = new VEColor(255,0,0,1);
                              //- var width = 5;
                              //- var id = 'I70';

                              var polyline = new Microsoft.Maps.Polyline(points,null);
                              map.entities.push(polyline);

                              //- map.AddPolyline(poly);
                              //- map.SetMapView(points);
                          }
                    .row                                          
                    br
                    table.table.table-responsive.table-hover.table-outline.mb-0
                      thead.thead-default
                        tr                          
                          th Veculo
                          th.text-center Cliente
                          th Uso
                          th.text-center Perfil
                      tbody
                        tr                          
                          td
                            div 
                               a(href='/analytics') JXA-0944
                            .small.text-muted
                              span Novo
                              | | Registrado: 2017-09-02
                          td.text-center
                            span Ana Maria
                          td
                            .clearfix
                              .float-left
                                strong 20%
                              .float-right
                                //- small.text-muted #{params.CurWStart} ~ #{params.CurWEnd}                                                                  
                            .progress.progress-xs
                              .progress-bar.bg-success(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                          td.text-center
                            i.fa.fa-star(style='font-size:24px')
                            i.fa.fa-star(style='font-size:24px')
            .row  
              .col-md-12
                  .card
                    .card-header 
                      | Estatsticas de Direo
                    .card-body.pb-0 
                      .row  
                        span.badge.badge-success Velocidade Mdia   
                        .chart-wrapper.px-3(style='height:70px;')
                          canvas#card-chartVel.chart(height='70')              
            .row               
              .col-sm-6.col-lg-3
                .card.text-white.bg-primary
                  .card-body.pb-0                  
                    h4.mb-0 
                      #SumCurMileage                             
                    p Distncia Percorrida               
              .col-sm-6.col-lg-3
                .card.text-white.bg-info
                  .card-body.pb-0                   
                    h4.mb-0
                      #SumIdleEngine 
                    p Motor Ocioso
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart2.chart(height='70')               
              .col-sm-6.col-lg-3
                .card.text-white.bg-warning
                  .card-body.pb-0                  
                    h4.mb-0 
                      #SumHACCOccur
                    p Altas Aceleraes
                  .chart-wrapper(style='height:70px;')
                    canvas#card-chart3.chart(height='70')               
              .col-sm-6.col-lg-3
                .card.text-white.bg-danger
                  .card-body.pb-0                  
                    h4.mb-0
                      #SumHBRAKEOccur
                    p Freadas bruscas
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart4.chart(height='70')
          
  