doctype html
html(lang='pt-BR')
  include header    
  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.aside-menu-hidden
     header.app-header.navbar
      button.navbar-toggler.mobile-sidebar-toggler.d-lg-none.mr-auto(type='button') ☰
      a.navbar-brand(href='#')
      button.navbar-toggler.sidebar-minimizer.d-md-down-none(type='button') ☰
      ul.nav.navbar-nav.d-md-down-none
        li.nav-item.px-3
          a.nav-link(href='/index') Dashboard    
      ul.nav.navbar-nav.ml-auto
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
            img.img-avatar(src='img/avatars/1.jpg', alt='admin@driveonauto.com')
            span.d-md-down-none Viriato
          .dropdown-menu.dropdown-menu-right
            .dropdown-header.text-center
              strong Conta de Usuário
            a.dropdown-item(href='#')
              i.fa.fa-bell-o
              |  Eventos
              span.badge.badge-info 42
            a.dropdown-item(href='#')
              i.fa.fa-envelope-o
              |  Mensagens
              span.badge.badge-success 42
            a.dropdown-item(href='#')
              i.fa.fa-tasks
              |  Diagnósticos
              span.badge.badge-danger 42
            a.dropdown-item(href='#')
              i.fa.fa-comments
              |  Avisos
              span.badge.badge-warning 42
            .dropdown-header.text-center
              strong Configurações
            a.dropdown-item(href='#')
              i.fa.fa-user
              |  Perfil
            a.dropdown-item(href='#')
              i.fa.fa-wrench
              |  Parâmetros
            a.dropdown-item(href='#')
              i.fa.fa-usd
              |  Financeiro
              span.badge.badge-default 42  
            .divider
            a.dropdown-item(href='#')
              i.fa.fa-shield
              |  Bloquear usuário
            a.dropdown-item(href='#')
              i.fa.fa-lock
              |  Logout
      //- button.navbar-toggler.aside-menu-toggler(type='button') ☰      
    .app-body
      .sidebar
        nav.sidebar-nav
          ul.nav
            li.nav-item
              a.nav-link(href='/')
                i.icon-speedometer
                |  Dashboard 
            li.nav-title
              | Meus Perfil
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-puzzle
                |  Veículos
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/myvehicle')
                    i.icon-puzzle
                    |  Meu Veículo                   
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/locate')
                    i.icon-puzzle
                    |  Localizar                              
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-star
                |  Eventos
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/alarmes')
                    i.icon-star
                    |  Alarmes               
            li.nav-item
              a.nav-link(href='/analytics')
                i.icon-pie-chart
                |  Analytics
            li.divider
            li.nav-title
              | Administração
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-star
                |  Acesso
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='#', target='_top')
                    i.icon-star
                    |  Login
                li.nav-item
                  a.nav-link(href='#', target='_top')
                    i.icon-star
                    |  Registrar 
      // Main content
      block content           
      aside.aside-menu
        ul.nav.nav-tabs(role='tablist')
          //- li.nav-item
          //-   a.nav-link.active(data-toggle='tab', href='#timeline', role='tab')
          //-     i.icon-list
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#messages', role='tab')
              i.icon-speech
          //- li.nav-item
          //-   a.nav-link(data-toggle='tab', href='#settings', role='tab')
          //-     i.icon-settings
        // Tab panes
        .tab-content
          //- #timeline.tab-pane.active(role='tabpanel')
          //-   .callout.m-0.py-2.text-muted.text-center.bg-light.text-uppercase
          //-     small
          //-       b Hoje
          //-   hr.transparent.mx-3.my-0
          //-   .callout.callout-warning.m-0.py-3
          //-     .avatar.float-right
          //-       img.img-avatar(src='img/avatars/7.jpg', alt='admin@bootstrapmaster.com')
          //-     div
          //-       | Meeting with
          //-       strong Lucas
          //-     small.text-muted.mr-3
          //-       i.icon-calendar
          //-       |   1 - 3pm
          //-     small.text-muted
          //-       i.icon-location-pin
          //-       |   Palo Alto, CA
          //-   hr.mx-3.my-0
          //-   .callout.callout-info.m-0.py-3
          //-     .avatar.float-right
          //-       img.img-avatar(src='img/avatars/4.jpg', alt='admin@bootstrapmaster.com')
          //-     div
          //-       | Skype with
          //-       strong Megan
          //-     small.text-muted.mr-3
          //-       i.icon-calendar
          //-       |   4 - 5pm
          //-     small.text-muted
          //-       i.icon-social-skype
          //-       |   On-line   
          //-   hr.transparent.mx-3.my-0
          //-   .callout.callout-danger.m-0.py-3
          //-     div
          //-       | New UI Project -
          //-       strong deadline
          //-     small.text-muted.mr-3
          //-       i.icon-calendar
          //-       |   10 - 11pm
          //-     small.text-muted
          //-       i.icon-home
          //-       |   creativeLabs HQ
          //-     .avatars-stack.mt-2
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/2.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/3.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/4.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/5.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/6.jpg', alt='admin@bootstrapmaster.com')
          //-   hr.mx-3.my-0
          //-   .callout.callout-success.m-0.py-3
          //-     div
          //-       strong #10 Startups.Garden
          //-       | Meetup
          //-     small.text-muted.mr-3
          //-       i.icon-calendar
          //-       |   1 - 3pm
          //-     small.text-muted
          //-       i.icon-location-pin
          //-       |   Palo Alto, CA
          //-   hr.mx-3.my-0
          //-   .callout.callout-primary.m-0.py-3
          //-     div
          //-       strong Team meeting
          //-     small.text-muted.mr-3
          //-       i.icon-calendar
          //-       |   4 - 6pm
          //-     small.text-muted
          //-       i.icon-home
          //-       |   creativeLabs HQ
          //-     .avatars-stack.mt-2
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/2.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/3.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/4.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/5.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/6.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/7.jpg', alt='admin@bootstrapmaster.com')
          //-       .avatar.avatar-xs
          //-         img.img-avatar(src='img/avatars/8.jpg', alt='admin@bootstrapmaster.com')
          //-   hr.mx-3.my-0
          #messages.tab-pane.active(role='tabpanel')
            .message
              .py-3.pb-5.mr-3.float-left
                .avatar
                  img.img-avatar(src='img/avatars/1.jpg')
                  span.avatar-status.badge-success
              div
                small.text-muted VIN
                small.text-muted.float-right.mt-1 1:52 PM
              .text-truncate.font-weight-bold Ignição ligada              
            hr
            .message
              .py-3.pb-5.mr-3.float-left
                .avatar
                  img.img-avatar(src='img/avatars/1.jpg')
                  span.avatar-status.badge-success
              div
                small.text-muted VIN
                small.text-muted.float-right.mt-1 1:53 PM
              .text-truncate.font-weight-bold Ignição desligada              
            hr
            .message
              .py-3.pb-5.mr-3.float-left
                .avatar
                  img.img-avatar(src='img/avatars/1.jpg')
                  span.avatar-status.badge-success
              div
                small.text-muted VIN
                small.text-muted.float-right.mt-1 2:15 PM
              .text-truncate.font-weight-bold Ignição desligada                          
    footer.app-footer
      a(href='http://driveonauto.com') DriveOn Auto
      |  © 2017.
      span.float-right
        | Powered by 
        a(href='http://driveonauto.com') DriveOn Auto
include scritps
    