.sidebar
        nav.sidebar-nav
          ul.nav
            li.nav-item
              a.nav-link(href='/')
                i.icon-speedometer
                |  Dashboard 
            li.nav-title
              | Clientes
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-puzzle
                |  Veículos
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/myvehicle')
                    i.icon-puzzle
                    |  Último trajeto                  
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/locate')
                    i.icon-puzzle
                    |  Localizar                              
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-star
                |  Eventos
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/alarmes')
                    i.icon-star
                    |  Alarmes               
            li.nav-item
              a.nav-link(href='/analytics')
                i.icon-pie-chart
                |  Analytics
            li.divider
            li.nav-title
              | Administração
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-star
                |  Configurações
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/userlist', target='_top')
                    i.icon-star
                    |  Usuários
                li.nav-item.nav-dropdown
                  a.nav-link.nav-dropdown-toggle(href='#')
                    i.icon-star
                    |  Parâmetros
                  ul.nav-dropdown-items
                    li.nav-item
                      a.nav-link(href='/zones')
                        i.icon-bubble
                        |  Zonas de Segurança     
                li.nav-item.nav-dropdown
                  a.nav-link.nav-dropdown-toggle(href='#')
                    i.icon-star
                    |  Devices
                  ul.nav-dropdown-items
                    li.nav-item
                      a.nav-link(href='/devices')
                        i.icon-star
                        |  Dongles      
                    li.nav-item
                      a.nav-link(href='/devicecreate')
                        i.icon-star
                        |  Instalação 
                    li.nav-item
                      a.nav-link(href='/devices/activation')
                        i.icon-star
                        |  Ativação             