.sidebar
        nav.sidebar-nav
          ul.nav
            li.nav-item
              a.nav-link(href='/')
                i.icon-speedometer
                |  Dashboard 
            li.nav-title
              | Meu Cockpit
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-puzzle
                |  Veículos
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/myvehicle')
                    i.icon-puzzle
                    |  Meu Veículo                   
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/locate')
                    i.icon-puzzle
                    |  Localizar                              
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-star
                |  Eventos
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/alarmes')
                    i.icon-star
                    |  Alarmes               
            li.nav-item
              a.nav-link(href='/analytics')
                i.icon-pie-chart
                |  Analytics
            li.divider
            li.nav-title
              | Administração
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-star
                |  Acesso
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='#', target='_top')
                    i.icon-star
                    |  Login
                li.nav-item
                  a.nav-link(href='#', target='_top')
                    i.icon-star
                    |  Registrar 