.sidebar
        nav.sidebar-nav
          ul.nav
            li.nav-item
              a.nav-link(href='/')
                i.icon-speedometer
                |  Perfil do Condutor 
            li.nav-title
              | Cockpit
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-puzzle
                |  Meu Veículo
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/myvehicle')
                    i.icon-puzzle
                    |  Detalhes                   
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/locate')
                    i.icon-puzzle
                    |  Viagem
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/alarmes')
                    i.icon-puzzle
                    |  Alertas 
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/analytics')
                    i.icon-puzzle
                    |  Saúde do Carro       
            li.nav-item
              a.nav-link(href='/')
                i.icon-pie-chart
                |  Competição             
            li.nav-item
              a.nav-link(href='/sinistros')
                i.icon-pie-chart
                |  Sinistros
            //- li.divider
            //- li.nav-title
            //-   | Administração
            //- li.nav-item.nav-dropdown
            //-   a.nav-link.nav-dropdown-toggle(href='#')
            //-     i.icon-star
            //-     |  Registros
            //-   ul.nav-dropdown-items
            //-     li.nav-item
            //-       a.nav-link(href='/userlist', target='_top')
            //-         i.icon-star
            //-         |  Veículo
            //-     li.nav-item
            //-       a.nav-link(href='#', target='_top')
            //-         i.icon-star
            //-         |  Conta 