<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>  
        <div id="wrapper">    
            <% include ../partials/nav.ejs %>
    
            <% include ../partials/body.ejs %>

            <% include ../partials/botton-scripts.ejs %>
        </div>
</body>
</html>
