header.app-header.navbar
      if (user) 
        - var username = user.fullname;
        - var useremail = user.email;
        - var uavatar = ulogo;
      button.navbar-toggler.mobile-sidebar-toggler.d-lg-none.mr-auto(type='button') ☰
      a.navbar-brand(href='#')
      button.navbar-toggler.sidebar-minimizer.d-md-down-none(type='button') ☰
      ul.nav.navbar-nav.d-md-down-none
        li.nav-item.px-3
          a.nav-link(href='/') Dashboard    
      ul.nav.navbar-nav.ml-auto
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')            
            span(data-letters=uavatar).d-md-down-none #{username}             
          .dropdown-menu.dropdown-menu-right
            .dropdown-header.text-center
              strong Conta de Usuário
            a.dropdown-item(href='#')
              i.fa.fa-bell-o
              |  Eventos
              span.badge.badge-info 42
            a.dropdown-item(href='#')
              i.fa.fa-envelope-o
              |  Mensagens
              span.badge.badge-success 42
            a.dropdown-item(href='#')
              i.fa.fa-tasks
              |  Diagnósticos
              span.badge.badge-danger 42
            a.dropdown-item(href='#')
              i.fa.fa-comments
              |  Avisos
              span.badge.badge-warning 42
            .dropdown-header.text-center
              strong Configurações
            a.dropdown-item(href='#')
              i.fa.fa-user
              |  Perfil
            a.dropdown-item(href='#')
              i.fa.fa-wrench
              |  Parâmetros
            a.dropdown-item(href='#')
              i.fa.fa-usd
              |  Financeiro
              span.badge.badge-default 42  
            .divider
            a.dropdown-item(href='#')
              i.fa.fa-shield
              |  Bloquear usuário
            a.dropdown-item(href='/logout')
              i.fa.fa-lock
              |  Logout
            //- button.navbar-toggler.aside-menu-toggler(type='button') ☰  